body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-weight: bold

}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;

}

.icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.yellow-half {
    background-color: #F0C74B;
    color: #000;
    padding: 100px;
    text-align: center;
}

.black-half {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
    line-height: 2.0; /* Adjust the value as needed */
}

.profile-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
}

.profile-images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ensures the image fills the container without stretching */
}

.details {
    font-size: 18px;
    color: #ffffff;
}

/* Header Styling */
header {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: right;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

header li {
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.timeline {
    width: 90%;
    max-width: 800px;
    position: relative;
}

.timeline-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.timeline-item:nth-child(even) .timeline-content {
    flex-direction: row-reverse;
    text-align: left;
}

.timeline-content {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.timeline-content p {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6a500;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icon img {
    width: 100px;
    height: 100px;
    filter: invert(1);
    object-fit: contain; /* Ensures the image fits within the container without stretching */
}

.icon:hover {
    transform: scale(1.1);
}





