body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-weight: bold
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.profile-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
}

.profile-images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ensures the image fills the container without stretching */
}

.details {
    font-size: 18px;
    color: #ffffff;
}

/* Header Styling */
header {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: right;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

header li {
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
